/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
background: black;
}

.container{
display:flex;
flex-direction:column;
align-items:center;
margin-top:60px;
}

.todo-card {
width: 650px;
background: white;
box-shadow: 0 2px 10px rgba(0,0,0,.15);
}

.todo-input {
border: none;
outline: none;
width: 100%;
padding: 20px;
font-size: 28px;
}
.list-group-item {
border-left: none;
border-right: none;
font-size: 28px;
padding: 18px 20px;
}
.footer{
border-top:1px solid #ececec;
padding:12px 20px;
color:gray;
font-size:16px;
}
.delete {
display: none;
cursor: pointer;
}
li:hover .delete {
display: inline;
}
